* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: rgba(43, 48, 59, 1);
    /* color: #ffffff; */
    color: #cdd6f4;
}

button {
    border: none;
    border-radius: 0;
}

#custom-notifications,
#custom-menu,
#workspaces,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#tray {
    padding: 0px 15px;
    /* background-color: rgba(43, 48, 59, 1); */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    margin: 8px 0;
}

#custom-menu {
    padding-left: 13px;
    padding-right: 16px;
    margin-left: 10px;
}

#workspaces {
    padding:0;
}

#workspaces button {
    padding: 0 15px;
    background-color: transparent;
    color: #ffffff;
    border-radius:999px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.2);
}

#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.3);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


#clock {
}

label:focus {
}

#cpu {
}

#memory {
}

#disk {
}

#pulseaudio {
}

#temperature {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-notifications {
    padding-left: 15px;
    padding-right: 18px;
    margin-right: 10px;
}
