* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 9999px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(250, 250, 250, 0.3);
}

#workspaces button {
    padding: 5px 8px;
    color: gray;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 9999px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 9999px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 9999px;
}

#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    /* background: #1e1e2e; */
    background: rgba(21, 18, 27, 0.8);
    /* background: transparent; */
    opacity: 0.5;
    padding: 2px 10px;
    /* margin: 3px 0px; */
    margin-top: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

#temperature {
    border-radius: 9999px 0px 0px 9999px;
}

#temperature.critical {
    color: #eba0ac;
}

#backlight {
    border-radius: 9999px 0px 0px 9999px;
}

#tray {
    border-radius: 9999px;
    margin-right: 15px;
}

#workspaces {
    border-radius: 9999px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 9999px;
    margin-left: 10px;
}

#clock {
    color: #fab387;
    border-radius: 9999px 9999px 9999px 9999px;
    margin-left: 10px;
}

#network {
    color: #f9e2af;
    border-radius: 9999px 0px 0px 9999px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 9999px 9999px 9999px 9999px;
    margin-right: 10px
} 

#pulseaudio {
    color: #89b4fa;
    border-radius: 9999px 9999px 9999px 9999px;
    margin-right: 10px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 9999px 9999px 9999px 9999px;
    margin-right: 10px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 9999px 9999px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 9999px 9999px 9999px 9999px;
    margin-left: 15px;
}
